<div class="pull-left text">{{appstr.quantity}}:</div>

<div class="pull-right quantity-control" role="input">
  <a href="#" class="fa fa-minus-circle fa-2x btn-icon" role="button" aria-label="Decrement quantity" {{action "decrement"}} />
  <label class="text value">
    <span aria-hidden="true">{{quantity}}</span>
    <span class="sr-only sr-only-focusable">Quantity is {{quantity}}</span>
  </label>
  <a href="#" class="fa fa-plus-circle fa-2x btn-icon" role="button" aria-label="Increment quantity"  {{action "increment"}} />
</div>
