<div class="review-row">
  <div class="col-xs-12 overall-review-container">
    <div class="col-xs-6">
      {{rating-star rating=review.consolidatedOverallRating class="pull-left"}} <span class="overall-text bold">overall</span>
    </div>
    <div class="col-xs-6 text-right">
      <span class="bold">{{string-replace appstr.viewAllReviews review.totalReviews}}</span>
    </div>
  </div>

  {{#if (or pros cons)}}
    <div class="col-xs-12 review-table-container">
      <table class="table">
        <thead>
          <tr>
            {{#if pros}}
              <th class="col-xs-6">
                <div class="review-title">{{appstr.pro}}</div>
                <small class="light">{{appstr.proInfo}}</small>
              </th>
            {{/if}}
            {{#if cons}}
              <th class="col-xs-6">
                <div class="review-title">{{appstr.con}}</div>
                <small class="light">{{appstr.conInfo}}</small>
              </th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#each pros as |pro|}}
              <td>
                {{rating-star rating=pro.overallRating sizeClass="small"}}
                <article>
                  <h5 class="bold review-title">{{pro.title}}</h5>
                  <p>{{pro.review}}</p>
                  <p><a class="posted-by">{{pro.screenName}}</a><time>{{format-date pro.datePosted}}</time></p>
                </article>
              </td>
            {{/each}}
            {{#each cons as |con|}}
              <td>
                {{rating-star rating=con.overallRating sizeClass="small"}}
                <article>
                  <h5 class="bold review-title">{{con.title}}</h5>
                  <p>{{con.review}}</p>
                  <p><a class="posted-by">{{con.screenName}}</a><time>{{format-date con.datePosted}}</time></p>
                </article>
              </td>
            {{/each}}
          </tr>
        </tbody>
      </table>
    </div>
  {{/if}}
</div>
