{{title "Product List"}}

<section class="item-list">
  <div class="row">
    {{#each model as |item|}}
      <div class="col-sm-4 col-lg-4 col-md-4 item">
        <div class="thumbnail">
          {{#link-to 'items.item' item.id}}
            <figure><img src={{item.primaryImages.firstObject.image}} class="img-responsive item-image" alt={{item.title}}></figure>
          {{/link-to}}
          <div class="caption">
            {{rating-star
              rating=item.review.consolidatedOverallRating
              sizeClass="small"
              class="pull-right"}}
            <h4 aria-label="Item Price">{{item.price.formattedPriceValue}}</h4>
            <p aria-hidden="true">
              {{#link-to 'items.item' item.id}}
                {{text-ellipsize item.title}}
              {{/link-to}}
            </p>
            <p class="sr-only sr-only-focusable">
              {{item.title}}
            </p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>
